@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Serif+Pro:ital@1&family=Work+Sans:wght@300&display=swap");

html {
  background-color: rgb(72, 112, 152);
}

.card {
  width: 27%;
  height: 530px;
  background: linear-gradient(
    90deg,
    rgb(144, 194, 244) 40%,
    rgb(183, 214, 245) 60%
  );
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin: 30px auto;
}

.data-style {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

h1 {
  font-family: "Source pro serif", Arial, sans-serif;
  color: rgb(0, 34, 68);
  padding-top: 10px;
}

p {
  font-family: "Roboto", Arial, sans-serif;
}

.user-mail {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 128, 255);
  padding-top: 10px;
}

.user-address {
  color: black;
}

.user-phone {
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 80, 161);
}

.user-website {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 57, 113);
}

.user-company {
  color: black;
  font-weight: bold;
}
